.nav-right {
    margin-left: 15px;
}

.text-dark:hover {
    color: #00CCA2 !important;
}



/* for mobile menu */
@media screen and (max-width: 991px) {
    .navs-item, .nav-right{
        text-align: center !important;
    }
  }